ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 906px;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 130px;
    row-gap: 65px;
}
.card-list-discription{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(180, 173, 158, 1);
}
h2{
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(98, 98, 98, 1);
}
p{
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(98, 98, 98, 1);
}

.card-list-item{
    width: 420px;
    
}
button{

}